*{
    font-family: 'Lato', sans-serif;
}
body{
    background-image: url("/img/background.png");
}
main{
    margin: auto;
    height: 90vh;
    width: 90vw;
    background-color: beige;
    border-radius: 20px;
    box-shadow: 10px 10px 30px 10px rgba(255,255,255,0.40);
}
#input_character_name{
    width: 80vw;
    margin: auto;
    margin-top: 2vh;
    border-radius: 10px;
    outline: none;
}

#buscar{
    background-color: lightblue;
    border-radius: 10px;
    border: none;
    transition: 1s;
}
#buscar:hover{
    scale: 1.5;
    background: cadetblue;
    cursor: pointer;
}

#datos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.tabla_nombre{
    display: inline;
}

img{
    float: right;
    max-height: 80vh;
    max-width: 40vw;
    margin-right: 10vw;
}

#personaje{
    display: none;
}